$light-text: #E9E8EE;
$color-dark: #214749;
$dark-text: #0F2A27;
$danger-color: #E73F33;
$icon-grey: #CFD8DC;
$accent-color-1: #548C6D;
$accent-color-2: #9a76b6;

$back-darker: rgba(17, 34, 32, 0.5);
$back-dark: rgba(17, 34, 32, 0.25);
$shadow-dark: rgba($color: $color-dark, $alpha: 0.25);
$shadow-light: rgba($color: $light-text, $alpha: 0.25);
// #B2B8B5
// #548C6D
// #5E6970
// #A08DAE
// #E9E8EE
// #4F8797
// #C9D7EA
// #A0BEE2
// #0F2A27
// #1E3C39